 body {
  background-color:rgb(159, 110, 187)
 }

 h1 {

  font-size: 100px;
  text-align:center;
  margin-top: 70px;
  color:rgb(84, 20, 111);
 }

 .explicando {
  text-align: center;
  font-size: 50px;
  color:rgb(112, 28, 148);
 }

 .lista {
  text-align: center;
 }

 .explicando2 {
    color: rgb(112, 28, 148);
    text-align: center;
    font-size: 60px;
 }

 .cores {
  text-align: center;
 }

 .curiosidades {
  text-align: center;
  font-size: 100px;
  color: rgb(84, 20, 111);
 }

 .aviso {
  text-align: right;
  font-size: 30px;
  color:indigo;
 }

 .curiosidade1 {
  text-align: center;
  color: rgb(112, 28, 148);
  font-size: 60px;
 }

 .curiosidade2 {
  text-align: center;
  color: rgb(112, 28, 148);
  font-size: 60px;
 }

 .nuclear {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
 }

 div.nuclear p {
  font-size: 70px;
  color: rgb(84, 20, 111);
 }

 .curiosidade3 {
  font-size: 70px;
  text-align: center;
  color: rgb(84, 20, 111);
 }

 .comandos {
  font-size: 50px;
  text-align: center;
  color: rgb(112, 28, 148);
 }

 .curiosidade4 {
  font-size: 70px;
  text-align: center;
  color: rgb(84, 20, 111);
 }

h2 {
  font-size: 100px;
  text-align: center;
  color:rgb(119, 75, 140);
 }

 .finalizacao {
  font-size: 70px;
  text-align: center;
  color: rgb(112, 28, 148);
 }

 .ana {
  font-size: 45px;
  text-align: end;
  color:rgb(119, 75, 140);
 }